CodeBattleNet/.vs/
CodeBattleNet/CodeBattleNet/obj/Debug/
CodeBattleNet/CodeBattleNet/obj/Release/
CodeBattleNet/CodeBattleNet/bin/Debug/
CodeBattleNet/CodeBattleNet/bin/Release/
CodeBattleNet/CodeBattleNetLibrary/obj/Debug/
CodeBattleNet/CodeBattleNetLibrary/obj/Release/
CodeBattleNet/CodeBattleNetLibrary/bin/Debug/
CodeBattleNet/CodeBattleNetLibrary/bin/Release/
CodeBattleNet/packages/
CodeBattleCpp/.vs/
CodeBattleCpp/CodeBattleCpp/Debug/
CodeBattleCpp/CodeBattleCpp/Release/
CodeBattleCpp/CodeBattleCppLibrary/Debug/
CodeBattleCpp/CodeBattleCppLibrary/Release/
CodeBattleCpp/Debug/
CodeBattleCpp/Release/
CodeBattleCpp/CodeBattleCpp.VC.db
CodeBattleCpp/CodeBattleCpp.VC.VC.opendb
CodeBattlePython/__pycache__/
CodeBattleJava/*.iml
CodeBattleJava/target
CodeBattleJava/.idea
/CodeBattleCpp/CodeBattleCpp/x64/Debug
/CodeBattleCpp/CodeBattleCpp/x64/Release
/CodeBattleCpp/CodeBattleCppLibrary/x64/Debug
/CodeBattleCpp/CodeBattleCppLibrary/x64/Release
/CodeBattleCpp/x64/Debug
/CodeBattleCpp/x64/Release
*.lock
.idea